body {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 16px;
  flex-direction: column;
  width: 400px;
  background-color: #bbd0ff;
  font-family: 'Montserrat', sans-serif;
}

.colOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.main-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

button {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 116px;
  height: 42px;
  align-items: center;
  transition: 0.4s;
  background-color: #ffafcc;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
}

svg {
  display: inline;
  height: 2rem;
  width: auto;
  cursor: pointer;
}

button:hover {
  width: 120px;
  height: 46px;
  cursor: pointer;
  background-color: #f6a5c3;
}

button:active {
  width: 116px;
  height: 42px;
}

.fact {
  position: absolute;
  font-size: 0.85rem;
  top: 70px;
  left: 171px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px 17px;
  max-width: 200px;
}

.left-point {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4vh solid transparent;
  border-right: 4vh solid transparent;
  border-top: 20vh solid #f0f0f0;
  top: -12px;
  left: -28px;
  transform: rotate(90deg);
}